<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para escanear códigos de barras de productos alimenticios y para grabar fotos o vídeos de tus series</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necesitamos acceso al micrófono para grabar el audio de los vídeos de tus series</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu galería para añadir fotos o vídeos a tus series</string>
</dict>
</plist>
